@import "../theme/ThemeMain.scss";
@import "../util/mixins.scss";

.overview {
    display: flex;

    @include mediaBreakPointUp("sm") {
        display: grid;
    }

    &-block {
        width: 25%;
        border: 1px solid var(--dashboard-overview-block-br-color);
        padding: 10px 15px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(130deg, var(--dashboard-linear-color1), #644d93);

        .placeholder {
            border-radius: 6px;
            color: var(--app-place-holder-color);
        }

        &:not(:last-child) {
            margin-right: 18px;
        }

        @include mediaBreakPointUp("sm") {
            width: 100%;
            gap: 15px;

            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 18px;
            }
        }

        .block-left {
            width: 70%;

            .amount {
                font-size: 35px;
            }

            .name {
                color: var(--dashboard-overview-block-name-color);
            }
        }

        .block-right {
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                border: var(--dashboard-overview-block-icon-bg-color);
                background: var(--dashboard-overview-block-icon-bg-color);
                border-radius: 13px;
                color: #fff;
            }
        }

        &.spend {
            background: var(--dashboard-spend-background);

            .block-right {
                .icon {
                    border: var(--dashboard-overview-spent-icon-bg-color);
                    background: var(--dashboard-overview-spent-icon-bg-color);
                }
            }
        }

        &.income {
            background: var(--dashboard-income-background);

            .block-right {
                .icon {
                    border: var(--dashboard-overview-income-icon-bg-color);
                    background: var(--dashboard-overview-income-icon-bg-color);
                }
            }
        }

        &.estimation {
            background: var(--dashboard-estimation-background);

            .block-right {
                .icon {
                    border: var(--dashboard-overview-estimation-icon-bg-color);
                    background: var(--dashboard-overview-estimation-icon-bg-color);
                }
            }
        }

        &.avg {
            background: var(--dashboard-avg-background);

            .block-right {
                .icon {
                    border: var(--dashboard-overview-avg-icon-bg-color);
                    background: var(--dashboard-overview-avg-icon-bg-color);
                }
            }
        }
    }
}

.category-table {
    height: 398px;
    overflow: auto;

    @include mediaBreakPointUp("sm", "md") {
        height: auto;
    }
}

.day-wise-spends {
    height: 250px;

    &.placeholder-glow {
        .placeholder {
            height: 100%;
            border-radius: 3px;
        }
    }
}

.month-overall-gauge {
    height: 250px;

    &.placeholder-glow {
        display: flex;
        justify-content: center;
        align-items: center;

        .placeholder {
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
    }
}

.month-overall-gauge-tooltip-name {
    color: var(--text-active-color);
}

.max-value {
    border: 1px solid var(--dashboard-overview-block-br-color);
    padding: 16px;
    border-radius: 10px;
    background: var(--dashboard-max-block-bg);

    &.placeholder-glow {
        .placeholder {
            border-radius: 6px;
        }
    }

    .value-group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .value-data {
            .value {
                font-size: 35px;
            }

            .title {
                font-size: 20px;
            }
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            width: 45px;
            border: var(--dashboard-max-block-icon-bg-color);
            background: var(--dashboard-max-block-icon-bg-color);
            border-radius: 13px;
            color: #fff;

            &.loading {
                background: none;
                border: none;
                color: var(--app-place-holder-color);
            }

            .placeholder {
                border-radius: 13px;
                height: 100%;
            }
        }

    }

    .category-data {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
            color: var(--dashboard-max-block-categ-name-color);

            .placeholder {
                width: 100px;
                color: var(--app-place-holder-color);
            }
        }

        .percentage {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            font-weight: 600;

            &.green {
                color: var(--dashboard-max-block-percentage-green);
            }

            &.red {
                color: var(--dashboard-max-block-percentage-red);
            }
        }
    }
}