@import "../theme/ThemeMain.scss";
@import "../util/mixins.scss";

.overall-container {
    display: flex;

    @include mobile() {
        display: grid;
        width: 100%;
        gap: 15px;
    }

    .overall-block {
        width: 20%;
        border: var(--border-low-solid-one-px);
        padding: 10px;
        border-radius: 10px;
        background: var(--low-solid);

        .placeholder {
            border-radius: 6px;
            color: #fff;
        }

        &:not(:last-child) {
            margin-right: 18px;
        }

        .icon {
            height: 40px;
            width: 40px;
            border: var(--border-low-solid-one-px);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            margin-left: 5px;
            color: #ffffff;

            .placeholder {
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }

        .amount {
            font-size: 20px;
            font-weight: 600;
            color: #fff;

            @include mobile() {
                .placeholder {
                    width: 20vh;
                }
            }
        }

        .name {
            color: #fff;

            @include mobile() {
                .placeholder {
                    width: 21vh;
                }
            }
        }

        .remarks {
            font-size: 13px;
            color: #fff;
            font-weight: 500;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.spend {
            background: var(--dashboard-spend-card-background);
            border-color: var(--dashboard-spend-card-border-color);

            .icon {
                background: var(--dashboard-spend-card-icon-background);
                border-color: var(--dashboard-spend-card-icon-background);
            }
        }

        &.estimation {
            background: var(--dashboard-estimation-card-background);
            border-color: var(--dashboard-estimation-card-border-color);

            .icon {
                background: var(--dashboard-estimation-card-icon-background);
                border-color: var(--dashboard-estimation-card-icon-background);
            }
        }

        &.income {
            background: var(--dashboard-income-card-background);
            border-color: var(--dashboard-income-card-border-color);

            .icon {
                background: var(--dashboard-income-card-icon-background);
                border-color: var(--dashboard-income-card-icon-background);
            }
        }

        &.max {
            background: var(--dashboard-max-card-background);
            border-color: var(--dashboard-max-card-border-color);

            .icon {
                background: var(--dashboard-max-card-icon-background);
                border-color: var(--dashboard-max-card-icon-background);
            }
        }

        &.year-total {
            background: var(--dashboard-avg-card-background);
            border-color: var(--dashboard-avg-card-border-color);

            .icon {
                background: var(--dashboard-avg-card-icon-background);
                border-color: var(--dashboard-avg-card-icon-background);
            }
        }

        @include mobile() {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                margin-bottom: 0px;
            }

            .block-right {
                text-align: end;
            }
        }
    }
}

.overview {
    display: flex;

    @include mobile() {
        display: grid;
        width: 100%;
        gap: 15px;
    }

    &-block {
        width: 25%;
        border: 1px solid #3c3c3c;
        padding: 10px 15px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(130deg, #2a2a2a, #644d93);

        .placeholder {
            border-radius: 6px;
            color: #fff;
        }

        &:not(:last-child) {
            margin-right: 18px;
        }

        .block-left {
            .amount {
                color:#fff;
                font-size: 35px;
            }

            .name {
                color: #cdcdcd;
            }
        }

        .block-right {
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                border: var(--border-low-solid-one-px);
                background: var(--low-solid);
                border-radius: 13px;
            }
        }
    }
}