label {
    margin-bottom: 5px;

    &.field-required {
        &:after {
            content: "*";
            color: var(--field-required-color);
            margin-left: 3px;
        }
    }
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.form-error-message {
    color: var(--field-required-color);

    &.centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}