.highcharts-title {
    fill: var(--text-active-color) !important;
}

.highcharts-xaxis-labels {
    text {
        fill: var(--text-active-color) !important;
        color: var(--text-active-color) !important;
    }
}

.highcharts-yaxis-labels {
    text {
        fill: var(--text-active-color) !important;
        color: var(--text-active-color) !important;
    }
}

.highcharts-legend-item {
    text {
        fill: var(--text-active-color) !important;
        color: var(--text-active-color) !important;
    }
}