.app-body {
    color: var(--app-text-color) !important;
}

.page {
    padding: 12px 16px;
    height: calc(100vh - $header-height);
    margin-left: $menu-closed-width;
    transition: .3s;

    @include mediaBreakPointUp("sm", "md") {
        margin-left: 0;
    }

    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin-bottom: 12px;

        .page-title {
            font-size: 20px;
            display: flex;
            align-items: center;
            text-align: center;

            .title-suffix {
                font-size: 16px;
                margin-left: 5px;
                color: var(--app-sub-text-color);
            }
        }

        .page-options {
            display: flex;
            align-items: center;

            .option {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }

    .page-body {
        height: calc(100vh - 140px);
        overflow: auto;

        &.no-header {
            height: calc(100vh - 85px);
        }
    }
}

.page-wrapper {
    &.menu-open {
        .page {
            margin-left: $menu-width;
            transition: .3s;

            @include mediaBreakPointUp("sm", "md") {
                margin-left: 0;
                pointer-events: none;
            }
        }
    }
}


.page-not-found {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.currency {
    display: flex;
    align-items: center;

    .symbol {
        margin-right: 5px;
    }
}

.centred-block {
    display: flex;
    justify-content: center;
    align-items: center;

    &-full-height {
        @extend .centred-block;
        height: 100%
    }

    &-min-height {
        @extend .centred-block;
        min-height: 250px
    }
}