[app-data-theme="dark"] {
    --app-logo: url(/src/assets/images/logos/finex-logo-light.png);
    // --primary-color: #6e2cf2;
    // --primary-color-hover: #712cf91a;
    --primary-color: #fd8233;
    --primary-color-hover: #fd82331a;
    --app-page-background: #212529;

    --app-place-holder-color: #dfdfdf;

    --app-scroll-bg: #212529;
    --app-scroll-color: rgba(255, 255, 255, 0.3);

    --header-border: #545454;
    --menu-active-background: #56565680;

    --page-background: #121212;
    --app-text-color: #fff;
    --app-sub-text-color: #b0b2b6;

    --text-active-color: #fff;
    --text-hover-color: #c8c8c8;

    --max-solid: #a1a1a1;
    --mid-solid: #6b6b6b;
    --low-solid: #484848;
    --last-solid: #343434;

    --border-max-solid-one-px: 1px solid var(--max-solid);
    --border-mid-solid-one-px: 1px solid var(--mid-solid);
    --border-low-solid-one-px: 1px solid var(--low-solid);
    --border-last-solid-one-px: 1px solid var(--last-solid);

    --logout-init: #f6a8a8;
    --logout-hover: #fa5151;

    --theme-switch-light-svg: url(/src/assets/svg/sun-white.svg);
    --header-profile-edit-hover-bg: #3f3f3f;

    --dashboard-linear-color1: #2a2a2a;
    --dashboard-spend-background: linear-gradient(130deg, var(--dashboard-linear-color1), #ff7a7a4f);
    --dashboard-estimation-background: linear-gradient(130deg, var(--dashboard-linear-color1), #ffd1744f);
    --dashboard-income-background: linear-gradient(130deg, var(--dashboard-linear-color1), #74dd984f);
    --dashboard-avg-background: linear-gradient(130deg, var(--dashboard-linear-color1), #59a5bd4f);
    --dashboard-overview-block-br-color: #3c3c3c;
    --dashboard-overview-block-name-color: #cdcdcd;
    --dashboard-overview-block-icon-bg-color: #7373739e;
    --dashboard-overview-spent-icon-bg-color: #7373739e;
    --dashboard-overview-estimation-icon-bg-color: #7373739e;
    --dashboard-overview-income-icon-bg-color: #7373739e;
    --dashboard-overview-avg-icon-bg-color: #7373739e;

    --dashboard-max-block-bg: #49505380;
    --dashboard-max-block-icon-bg-color: #7373739e;
    --dashboard-max-block-categ-name-color: #b877ffe0;
    --dashboard-max-block-percentage-green: #43d764;
    --dashboard-max-block-percentage-red: #ff3131;

    --table-head-background: #484848;
    --table-body-background: #3a3a3a8f;
    --table-row-border: #212529;

    --no-data-icon-color: #fff;
    --no-data-title-color: #bdbdbd;
    --no-data-text-color: #9e9e9e;

    --card-border-color: #434549;

    --transaction-head-bg: #212529;
    --transactions-icon-color: #73737375;
    --transactions-option-color: #47494bd4;
    --transactions-option-hover-color: #727272;
    --transactions-delete-color: #5c1010;
    --transactions-delete-hover-color: #c30101;
    --transactions-edit-color: #8e5734ad;
    --transactions-edit-hover-color: #d06e2f;

    --transaction-add-option-hover-bg: #595959;
    --transaction-add-spend-progress-bar-bg: #ff4b4b47;
    --transaction-add-spend-progress-bar-fill-bg: #d04343;
    --transaction-add-spend-icon-bg: #ff4d4d80;
    --transaction-add-estimation-progress-bar-bg: #ffb21247;
    --transaction-add-estimation-progress-bar-fill-bg: #ffb212;
    --transaction-add-estimation-icon-bg: #ffb30f80;
    --transaction-add-income-progress-bar-bg: #26cf4247;
    --transaction-add-income-progress-bar-fill-bg: #26cf42;
    --transaction-add-income-icon-bg: #27ce4380;
}