[app-data-theme="dark"] {
    --app-logo: url(/src/assets/images/logos/finex-logo-light.png);
    --primary-color: #6e2cf2;
    --primary-color-hover: #712cf91a;
    --app-page-background: #212529;

    --header-border: #545454;
    --menu-active-background: #56565680;

    --page-background: #121212;
    --app-text-color: #fff;

    --text-active-color: #fff;
    --text-hover-color: #c8c8c8;

    --max-solid: #a1a1a1;
    --mid-solid: #6b6b6b;
    --low-solid: #484848;
    --last-solid: #343434;

    --border-max-solid-one-px: 1px solid var(--max-solid);
    --border-mid-solid-one-px: 1px solid var(--mid-solid);
    --border-low-solid-one-px: 1px solid var(--low-solid);
    --border-last-solid-one-px: 1px solid var(--last-solid);

    --logout-init: #f6a8a8;
    --logout-hover: #fa5151;

    --theme-switch-light-svg: url(/src/assets/svg/sun-white.svg);
    --header-profile-edit-hover-bg: #3f3f3f;

    --dashboard-spend-card-background: #ff7a7a4f;
    --dashboard-spend-card-border-color: #5922224f;
    --dashboard-spend-card-icon-background: #f94f73de;

    --dashboard-estimation-card-background: #ffd1744f;
    --dashboard-estimation-card-border-color: #6154394f;
    --dashboard-estimation-card-icon-background: #ffbd33de;

    --dashboard-income-card-background: #74dd984f;
    --dashboard-income-card-border-color: #365f444f;
    --dashboard-income-card-icon-background: #3dd856e6;

    --dashboard-max-card-background: #9074af4f;
    --dashboard-max-card-border-color: #5244614f;
    --dashboard-max-card-icon-background: #b877ffe0;

    --dashboard-avg-card-background: #59a5bd4f;
    --dashboard-avg-card-border-color: #3e6b794f;
    --dashboard-avg-card-icon-background: #237c9b;

    --table-head-background: #484848;
    --table-body-background: #3a3a3a8f;
    --table-row-border: #212529;
}