[app-data-theme="light"] {
    --app-logo: url(/src/assets/images/logos/finex-logo-dark.png);
    // --primary-color: #7330f9;
    // --primary-color-hover: #712cf91a;
    --primary-color: #fd8233;
    --primary-color-hover: #fd82331a;
    --app-page-background: #ffffff;

    --app-scroll-bg: #fff;
    --app-scroll-color: #b1b1b1;

    --header-border: #d0d0d0;
    --menu-active-background: #b3b3b380;

    --page-background: #fff;
    --app-text-color: #232323;

    --text-active-color: #171717;
    --text-hover-color: #434343;

    --max-solid: #707070;
    --mid-solid: #a2a2a2;
    --low-solid: #c5c5c5;
    --last-solid: #dfdfdf;

    --border-max-solid-one-px: 1px solid var(--max-solid);
    --border-mid-solid-one-px: 1px solid var(--mid-solid);
    --border-low-solid-one-px: 1px solid var(--low-solid);
    --border-last-solid-one-px: 1px solid var(--last-solid);

    --logout-init: #ef6767;
    --logout-hover: #da1111;
    --theme-switch-light-svg: url(/src/assets/svg/sun-dark.svg);
    --header-profile-edit-hover-bg: #e3e3e3;

    --dashboard-spend-card-background: #ffa0a0;
    --dashboard-spend-card-border-color: #f3bfbf;
    --dashboard-spend-card-icon-background: #f94f73;

    --dashboard-estimation-card-background: #ffd174;
    --dashboard-estimation-card-border-color: #f9d894;
    --dashboard-estimation-card-icon-background: #ffb212;

    --dashboard-income-card-background: #88d0a0;
    --dashboard-income-card-border-color: #9fddb4;
    --dashboard-income-card-icon-background: #26cf42;

    --dashboard-max-card-background: #b497d4;
    --dashboard-max-card-border-color: #c5b2d8;
    --dashboard-max-card-icon-background: #912bff;

    --dashboard-avg-card-background: #90b9c6;
    --dashboard-avg-card-border-color: #97c0ce;
    --dashboard-avg-card-icon-background: #237c9b;

    --dashboard-linear-color1: #dfdfdf;
    --dashboard-spend-background: #f9f9f9;
    --dashboard-estimation-background: #f9f9f9;
    --dashboard-income-background: #f9f9f9;
    --dashboard-avg-background: #f9f9f9;
    --dashboard-overview-block-br-color: #dbdbdb;
    --dashboard-overview-block-name-color: #555555;
    --dashboard-overview-block-icon-bg-color: #a4a4a49e;
    --dashboard-overview-spent-icon-bg-color: #f94f73;
    --dashboard-overview-estimation-icon-bg-color: #ffb212;
    --dashboard-overview-income-icon-bg-color: #26cf42;
    --dashboard-overview-avg-icon-bg-color: #237c9b;

    --dashboard-max-block-bg: #f5f5f5;
    --dashboard-max-block-icon-bg-color: #8f00ff;
    --dashboard-max-block-categ-name-color: #7d00ff;
    --dashboard-max-block-percentage-green: #00c96c;
    --dashboard-max-block-percentage-red: #fb0808;

    --table-head-background: #d0d0d0;
    --table-body-background: #efefef;
    --table-row-border: #ffffff;
}