@import "../../../assets/css/theme/ThemeMain.scss";
@import "../../../assets/css/util/mixins.scss";

.transactions-page {
    display: flex;

    .placeholder-glow {
        .placeholder {
            border-radius: 6px;
            color: var(--app-place-holder-color);
        }
    }

    @include mediaBreakPointUp("sm", "md") {
        flex-direction: column-reverse;
    }

    .transactions-data {
        width: 50%;

        @include mediaBreakPointUp("sm", "md") {
            width: 100%;
        }

        &.log {
            padding-right: 8px;

            @include mediaBreakPointUp("sm", "md") {
                padding-right: 0;
                margin-top: 16px;
            }

            .sticky-head {
                position: sticky;
                top: 0;
                background: var(--transaction-head-bg);
                z-index: 1;
            }

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    font-size: 22px;

                    .sub-title {
                        font-size: 14px;
                        color: var(--app-sub-text-color);
                    }
                }

                .options {
                    transition: .3s;
                    color: var(--text-hover-color);
                    cursor: pointer;

                    &:hover {
                        transition: .3s;
                        color: var(--text-active-color);
                    }
                }
            }

            .search {
                margin: 16px 0px 10px;
            }

            .body {
                height: calc(100vh - 240px);
                overflow: auto;

                @include mediaBreakPointUp("sm", "md") {
                    height: auto;
                }

                .transactions-block {
                    border-top: 1px solid var(--card-border-color);
                    border-bottom: 1px solid var(--card-border-color);
                    padding: 16px 10px 16px 0px;

                    @include mediaBreakPointUp("sm", "md") {
                        padding: 16px 0px;
                    }

                    &:first-child {
                        border-top: none;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    .transaction-data {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .details {
                            display: flex;
                            align-items: center;

                            .icon {
                                height: 50px;
                                width: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;
                                border: 1px solid var(--transactions-icon-color);
                                background: var(--transactions-icon-color);
                                border-radius: 10px;

                                &.debit {
                                    border-color: transparent;
                                    background: #ff7a7a80;
                                }

                                &.credit {
                                    border-color: transparent;
                                    background: #74dd9880;
                                }

                                .placeholder {
                                    height: 50px;
                                    width: 50px;
                                }
                            }

                            .names {
                                .remarks {
                                    .placeholder {
                                        width: 100px;
                                    }
                                }

                                .category {
                                    .placeholder {
                                        width: 65px;
                                    }
                                }
                            }
                        }

                        .value {
                            .amount {
                                font-size: 20px;
                                font-weight: 600;

                                &.debit {
                                    color: var(--dashboard-max-block-percentage-red);
                                }
                            }

                            .created-at {
                                font-size: 14px;
                            }

                            .transaction-options {
                                display: flex;
                                align-items: center;
                                margin-top: 6px;

                                .option {
                                    padding: 4px;
                                    font-size: 10px;
                                    border-radius: 6px;
                                    background: var(--transactions-option-color);
                                    border: 1px solid var(--transactions-option-color);
                                    cursor: pointer;
                                    min-width: 60px;
                                    text-align: center;
                                    transition: .3s;
                                    color: #fff;

                                    &:hover {
                                        background: var(--transactions-option-hover-color);
                                        border-color: var(--transactions-option-hover-color);
                                    }

                                    &:not(:last-child) {
                                        margin-right: 10px;
                                    }

                                    &.delete {
                                        background: var(--transactions-delete-color);
                                        border: 1px solid var(--transactions-delete-color);

                                        i {
                                            margin-right: 6px;
                                        }

                                        &:hover {
                                            transition: .3s;
                                            background: var(--transactions-delete-hover-color);
                                            border: 1px solid var(--transactions-delete-hover-color);
                                        }
                                    }

                                    &.edit {
                                        transition: .3s;
                                        background: var(--transactions-edit-color);
                                        border: 1px solid var(--transactions-edit-color);

                                        i {
                                            margin-right: 6px;
                                        }

                                        &:hover {
                                            transition: .3s;
                                            background: var(--transactions-edit-hover-color);
                                            border: 1px solid var(--transactions-edit-hover-color);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }

        &.data {
            padding-left: 8px;

            @include mediaBreakPointUp("sm", "md") {
                padding-left: 0;
            }

            .log-details {
                .log-block {
                    display: flex;
                    align-items: center;
                    padding: 20px 0px;

                    &:first-child {
                        padding-top: 10px;
                    }

                    &:last-child {
                        padding-bottom: 10px;
                    }

                    &:not(:first-child) {
                        border-top: 1px solid var(--card-border-color);
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid var(--card-border-color);
                    }

                    .icon {
                        height: 50px;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid var(--transactions-icon-color);
                        background: var(--transactions-icon-color);
                        border-radius: 13px;
                        color: #fff;

                        &.debit {
                            border-color: transparent;
                            background: #ff7a7a80;
                        }

                        &.credit {
                            border-color: transparent;
                            background: #74dd9880;
                        }

                        .placeholder {
                            border-radius: 12px;
                            height: 100%;
                        }
                    }

                    .data {
                        width: calc(100% - 92px);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0px 10px;

                        .details {
                            width: 35%;

                            @include mediaBreakPointUp("sm") {
                                width: 50%;
                            }

                            .value {
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }

                        .log-progress {
                            width: 65%;

                            @include mediaBreakPointUp("sm") {
                                width: 50%;
                            }
                        }
                    }

                    .option {
                        margin-left: 5px;
                        padding: 2px 5px;
                        border: 1px solid var(--card-border-color);
                        border-radius: 6px;
                        font-size: 12px;
                        transition: .3s;
                        cursor: pointer;

                        &:hover {
                            transition: .3s;
                            background: var(--transaction-add-option-hover-bg);
                        }
                    }

                    &.spend {
                        .icon {
                            background: var(--transaction-add-spend-icon-bg);
                            border: var(--transaction-add-spend-icon-bg);
                        }

                        .data {
                            .log-progress {
                                .progress {
                                    background-color: var(--transaction-add-spend-progress-bar-bg);

                                    .progress-bar {
                                        background-color: var(--transaction-add-spend-progress-bar-fill-bg);
                                    }
                                }
                            }
                        }
                    }

                    &.estimation {
                        .icon {
                            background: var(--transaction-add-estimation-icon-bg);
                            border: var(--transaction-add-estimation-icon-bg);
                        }

                        .data {
                            .log-progress {
                                .progress {
                                    background-color: var(--transaction-add-estimation-progress-bar-bg);

                                    .progress-bar {
                                        background-color: var(--transaction-add-estimation-progress-bar-fill-bg);
                                    }
                                }
                            }
                        }
                    }

                    &.income {
                        .icon {
                            background: var(--transaction-add-income-icon-bg);
                            border: var(--transaction-add-income-icon-bg);
                        }

                        .data {
                            .log-progress {
                                .progress {
                                    background-color: var(--transaction-add-income-progress-bar-bg);

                                    .progress-bar {
                                        background-color: var(--transaction-add-income-progress-bar-fill-bg);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .category-chart {
                margin-top: 16px;

                .category-pie-chart {
                    height: calc(100vh - 438px);

                    &.placeholder-glow {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .placeholder {
                            $chart-hw: calc(100vh - 438px);
                            height: $chart-hw;
                            width: $chart-hw;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

}

.category-chart-tooltip {
    font-size: 16px;

    .percentage {
        margin-top: 5px;
    }
}

.selected-category {
    display: flex;
    align-items: center;
    justify-content: center;

    .category-icon {
        margin-right: 6px;
    }
}

.category-select-block {
    padding: 8px;

    &:not(:last-child) {
        border-bottom: 1px solid var(--field-border-color);
    }

    .category-select {
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 10px;

        &:hover {
            background-color: var(--primary-color-hover);
        }

        &.active {
            background-color: var(--primary-color);
            color: #fff;

            .category-icon {
                border: none;
                background: none;
                font-size: 15px
            }
        }

        .category-icon {
            height: 30px;
            width: 30px;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            border: 1px solid var(--transactions-icon-color);
            background: var(--transactions-icon-color);
            border-radius: 6px;
        }

        .name {
            font-size: 18px;
        }
    }
}

.transactions-offcanvas-view {
    margin: 16px 0px;
    height: calc(100vh - 225px);
    overflow-y: auto;

    .transaction-block {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        border: 1px solid var(--dashboard-overview-block-br-color);
        border-radius: 10px;
        padding: 8px;

        .data-block {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .value-block {
                display: flex;
                align-items: center;

                .transaction-icon {
                    &.spend {
                        color: var(--transaction-add-spend-icon-bg);
                    }

                    &.estimation {
                        color: var(--transaction-add-estimation-icon-bg);
                    }

                    &.income {
                        color: var(--transaction-add-income-icon-bg);
                    }
                }

                .value {
                    font-size: 20px;
                }
            }
        }

        .remarks {
            margin-top: 8px;
        }
    }
}