@import "../../../assets/css/theme/ThemeMain.scss";
@import "../../../assets/css/util/mixins.scss";

.category-container {
    display: flex;

    @include mediaBreakPointUp("sm", "md") {
        flex-direction: column;
    }

    .category-block {
        width: 50%;

        &:first-child {
            padding-right: 16px;
            border-right: 1px solid var(--card-border-color);
        }

        &:last-child {
            padding-left: 16px;
        }

        @include mediaBreakPointUp("sm", "md") {
            width: 100%;

            &:first-child {
                padding-right: 0;
                border-right: none;
                padding-bottom: 16px;
            }

            &:last-child {
                padding-left: 0;
            }
        }

        .category-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 16px;
            position: sticky;
            top: 0;
            background: var(--transaction-head-bg);
            z-index: 1;

            .category-title {
                font-size: 20px;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }

        .category-body {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: calc(100vh - 135px);
            overflow-y: auto;

            @include mediaBreakPointUp("sm", "md") {
                height: auto;
            }

            .category-item {
                --block-margin: 16px;
                margin-bottom: var(--block-margin);
                margin-right: var(--block-margin);
                width: calc((100% - var(--block-margin))/2);

                &:nth-child(2n) {
                    margin-right: 0;
                }

                @include mediaBreakPointUp("sm") {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
}